.footer {
    width: 100%;
    position: absolute;
    background-color: #000000;
    padding: 2em 0;
}

.footer .img-icon {
    height: 3em;
    width: 3em;
    margin-bottom: 1em;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2ch;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-decoration: none;
    padding-bottom: 2em;
}

@media (min-width: 600px) {
    .footer {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .footer ul li {
        margin: 0 5%;
    }
    .footer ul li a {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-decoration: none;
        width: auto;
    }
    .footer .img-icon {
        margin: 0 20%;
    }
}