.header {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    position: fixed;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}
  
.header .menu ul {
    display: flex;
    justify-content: space-evenly;
}

.header .menu li {
    padding: 2ex;
    font-size: 3ch;
}